<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logged in</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-auth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script type="text/javascript" src="js/loggedin.js"></script>
    <script type="text/javascript" src="js/database.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>

</head>

<body ng-app="LoggedIn" ng-controller="personCtrl as ctrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Studentportalen</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user "></span> {{user.Name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="betyg.html">Mina betyg</a></li>
                    </ul>
                </li>
                <li><a href="#" id="quickstart-sign-in" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-out"></span> Logga ut</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <button ng-click="setFeeling(-1)">Skit</button>
        <button ng-click="setFeeling(0)">Lagom</button>
        <button ng-click="setFeeling(1)">Bra</button>
    </div>
    <h1 class="text-center">Kursöversikt</h1>
    <div class="row">
        <div class="col-sm-12  well well-sm">
            <h4 class="text-center">Pågående kurser</h4>
            <div ng-repeat="course in myCourses" class="panel panel-default" ng-show="{{course.status === 'progress'}}">
                <div ng-click="value = !value" ng-class="{ active: value }" class="panel-heading">{{course.name}}</div>
                <div class="panel-body animate-hide" ng-show="value">
                    <p><em>BESKRIVNING: </em><samp>{{course.description}}</samp></p>
                    <p><em>KURSKOD: </em><samp>{{course.courseCode}}</samp></p>
                    <p><em>LÄRARE: </em><samp>{{course.teacher}}</samp></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 well well-sm">
            <h4 class="text-center">Kommande kurser</h4>
            <div ng-repeat="course in myCourses" class="panel panel-default" ng-show="{{course.status === 'comming'}}">
                <div ng-click="value = !value" ng-class="{ active: value }" class="panel-heading">{{course.name}}</div>
                <div class="panel-body animate-hide" ng-show="value">
                    <p><em>BESKRIVNING: </em><samp>{{course.description}}</samp></p>
                    <p><em>KURSKOD: </em><samp>{{course.courseCode}}</samp></p>
                    <p><em>LÄRARE: </em><samp>{{course.teacher}}</samp></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 well well-sm">
            <h4 class="text-center">Avslutade kurser</h4>
            <div ng-repeat="course in myCourses" class="panel panel-default" ng-show="{{course.status === 'finished'}}">
                <div ng-click="value = !value" ng-class="{ active: value }" class="panel-heading">{{course.name}}</div>
                <div class="panel-body animate-hide" ng-show="value">
                    <p><em>BESKRIVNING: </em><samp>{{course.description}}</samp></p>
                    <p><em>KURSKOD: </em><samp>{{course.courseCode}}</samp></p>
                    <p><em>LÄRARE: </em><samp>{{course.teacher}}</samp></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>