<!DOCTYPE html>
<html lang="sv">

<head>
    <title>Hantera användare</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-auth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script type="text/javascript" src="js/database.js"></script>
    <script type="text/javascript" src="js/admincontroller.js"></script>
</head>

<body>


    <div ng-app="LoggedIn" ng-controller="AdminUserCtrl">
        E-mail: <input type="text" ng-model="email"> Lösenord: <input type="text" ng-model="password">

        <br><br>
        <button ng-click="createUser()">Skapa användare</button>
        <br><br>
        <button ng-click="deleteUser()">Radera användare</button>

        <p ng-if="message">Meddelande: <strong>{{ message }}</strong></p>
        <p ng-if="error">Fel: <strong>{{ error }}</strong></p>
    </div>

</body>

</html>