<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="sv">


<head>
    <title>Lärare - Generera närvaro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-auth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script type="text/javascript" src="js/database.js"></script>
    <script src="js/qrcode.min.js"></script>
    <script src="js/angular-qr.min.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</head>

<body ng-app="LoggedIn" ng-controller="AdminUserCtrl as ctrl">

    Inloggad som {{user.Name}} <br> Ange klass:
    <select id="chooseCourse" ng-model="selectedCourse" ng-change="updateString()" required>
    <option ng-repeat="course in myCourses" ng-show="{{course.details.status === 'progress'}}">{{course.details.courseCode}}</option><input ng-hide="true"/> 
    <button ng-click="activatePresence()">Aktivera närvaro</button>
    <button ng-click="deActivatePresence()">Sluta ta närvaro</button>
    <br>
    <qr text="string" ng-hide="selectedCourse == 'NONE'" size=600></qr>
    <br>
    <p ng-hide="selectedCourse == 'NONE'"> Kod för manuell inmatning till {{selectedCourse}}: {{random}}. </p>

</body>

</html>